@font-face {
  font-family: minecraft_pl_font;
  src: url("/czcionki/minecraft_pl_font.woff");
}

html {
  background-color: black;
  color: white;
  margin: 0;
}
body {
  font-family: minecraft_pl_font;
}
tytul {
  color: white;
  font-size: 1cm;
}
.guzik {
  color: white;
  margin: 2mm;
  text-decoration: none;
  font-size: 1cm;
  display: block;
  background-color: rgb(48, 48, 48);
  border-radius: 10px;
  margin-left: 107px;
}
.imgL {
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}
.fixA {
  color: white;
  margin: 2mm;
  text-decoration: none;
  font-size: 1cm;
}
.bold {
  font-weight: bold;
}
.header {
  padding: 0.5cm;
  text-align: center;
  background: #3b3b3b;
  color: rgb(255, 255, 255);
  border-radius: 0.3cm;
}
.pojemnik {
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-columns: auto;
  justify-content: center;
}
.itemP {
  background-color: rgb(218, 153, 34);
  font-size: 15px;
  width: 300px;
  height: auto;
  border-radius: 2px;
  margin: 3px;
}
.itemZ {
  background-color: rgb(26, 153, 26);
  font-size: 15px;
  width: 300px;
  height: auto;
  border-radius: 2px;
  margin: 3px;
}
.itemJZ {
  background-color: rgb(33, 236, 33);
  font-size: 15px;
  width: 300px;
  height: auto;
  border-radius: 2px;
  margin: 3px;
}
.itemN {
  background-color: rgb(23, 105, 143);
  font-size: 15px;
  width: 300px;
  height: auto;
  border-radius: 2px;
  margin: 3px;
}
.itemC {
  background-color: rgb(180, 50, 50);
  font-size: 15px;
  width: 300px;
  height: auto;
  border-radius: 2px;
  margin: 3px;
}
.itemB {
  background-color: rgb(224, 200, 200);
  font-size: 15px;
  width: 300px;
  height: auto;
  color: black;
  border-radius: 2px;
  margin: 3px;
}
.itemSZ {
  background-color: rgb(87, 86, 86);
  font-size: 15px;
  width: 300px;
  height: auto;
  border-radius: 2px;
  margin: 3px;
}
.itemIMGR {
  height: 100px;
  border-radius: 2px;
  float: right;
}
.itemIMGL {
  width: 100px;
  border-radius: 2px;
  float: left;
}
.stopka {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(53, 53, 53);
  color: white;
  text-align: center;
}
